root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
insert_final_newline = true
max_line_length = 100
trim_trailing_spaces = true

# Trailing spaces in markdown indicate word wrap
[*.md]
trim_trailing_spaces = false

# Use spaces
[*.{html,json,pug,ya?ml}]
indent_style = space

# Set indents
[*.{html,json,pug,ya?ml}]
indent_size = 2
