<!doctype html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" />
    <meta name="keywords" />
    <meta property="og:title" />
    <meta property="og:site_name" />
    <meta property="og:description" />
    <meta property="og:see_also" />
    <meta property="og:url" />
    <meta property="og:image" />
    <meta name="twitter:title" />
    <meta name="twitter:description" />
    <meta name="twitter:card" />
    <meta name="twitter:url" />
    <meta name="twitter:image" />
    <link rel="canonical" />
    <%= head %>
  </head>
  <body>
    <div data-bullgit-root><%= app %></div>
  </body>
</html>
